In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import chardet

In [5]:
file_path = 'IRENA_RenewableEnergy_Statistics_2000-2022.csv'

with open(file_path, 'rb') as f:
    result = chardet.detect(f.read())

df_irena = pd.read_csv(file_path, encoding=result['encoding'])

In [8]:
file_path_1 = 'organised_Gen.csv'

with open(file_path_1, 'rb') as f:
    result = chardet.detect(f.read())

df_us_data = pd.read_csv(file_path_1, encoding=result['encoding'])

In [9]:
file_path_2 = '02 modern-renewable-energy-consumption.csv'

with open(file_path_2, 'rb') as f:
    result = chardet.detect(f.read())

df_world_data = pd.read_csv(file_path_2, encoding=result['encoding'])

In [17]:
df_irena_us = df_irena[df_irena["Country"] == "United States of America (the)"]

df_pivot = df_irena_us.pivot_table(
    index="Year",
    columns="Technology",
    values="Electricity Generation (GWh)",
    aggfunc="sum"
).reset_index()

df_pivot

Technology,Year,Biogas,Coal and peat,Geothermal energy,Liquid biofuels,Marine energy,Natural gas,Nuclear,Offshore wind energy,Oil,Onshore wind energy,Other non-renewable energy,Pumped storage,Renewable hydropower,Renewable municipal waste,Solar photovoltaic,Solar thermal energy,Solid biofuels
0,2000,5230.001,2129498.0,14621.0,NaN,NaN,634290.0,797718.0,NaN,118482.0,5650.000,15533.0,26782.0,253204.0,8364.0,183.0,526.0,42586.000
1,2001,5413.999,1982120.0,14246.0,NaN,NaN,659914.0,792604.0,NaN,129557.0,6806.000,14210.0,26476.0,188252.0,8102.0,220.0,565.0,36821.000
2,2002,5561.000,2039665.0,14939.0,NaN,NaN,712432.0,804519.0,NaN,106138.0,10459.000,15508.0,24721.0,267034.0,8252.0,261.0,569.0,40209.998
3,2003,6317.000,2083326.0,14870.0,NaN,NaN,670192.0,787818.0,NaN,137015.0,11300.000,15865.0,27115.0,278609.0,8093.0,300.0,548.0,39710.998
4,2004,6412.000,2090495.0,15487.0,NaN,NaN,731552.0,813339.0,NaN,139089.0,14291.000,15618.0,26776.0,271118.0,8939.0,378.0,587.0,40432.001
5,2005,6448.999,2153956.0,16778.0,213.0,NaN,782829.0,810726.0,NaN,141290.0,17881.000,13881.0,25481.0,272445.0,9528.0,524.0,596.0,41790.999
6,2006,7057.999,2127796.0,16581.0,164.0,NaN,842774.0,816195.0,NaN,78621.0,26676.000,14416.0,25820.0,291869.0,9690.0,737.0,550.0,41884.001
7,2007,7468.999,2118455.0,16798.0,84.0,NaN,915196.0,836634.0,NaN,78136.0,34603.000,13679.0,25926.0,249619.0,9578.0,1001.0,673.0,41989.999
8,2008,8427.000,2132596.0,16873.0,88.0,NaN,910176.0,837804.0,NaN,57776.0,55696.000,13606.0,25281.0,256714.0,9513.0,1214.0,879.0,41619.001
9,2009,9281.000,1892661.0,17046.0,91.0,NaN,949776.0,830210.0,NaN,50445.0,74226.000,13607.0,22820.0,275590.0,9469.0,1699.0,816.0,40477.998
10,2010,9806.001,1994194.0,17577.0,94.0,NaN,1017869.0,838931.0,NaN,48086.0,95148.000,14606.0,24067.0,262266.0,9308.0,3063.0,879.0,42535.998
11,2011,10613.000,1875413.0,17840.0,177.0,NaN,1045254.0,821405.0,NaN,39524.0,120854.000,16077.0,22828.0,321733.0,8617.0,5322.0,893.0,42913.000
12,2012,11568.001,1643430.0,18135.0,195.0,NaN,1264552.0,801129.0,NaN,33070.0,141922.000,15881.0,19776.0,278511.0,8650.0,9186.0,959.0,43695.998
13,2013,12791.001,1712408.0,18422.0,193.0,0.001,1158454.0,822004.0,NaN,36858.0,169713.000,15588.0,19257.0,270856.0,8420.0,14858.0,1014.0,45535.000
14,2014,13586.001,1712577.0,18710.0,208.0,0.001,1161333.0,830584.0,0.100,39877.0,183891.900,15289.0,20054.0,261473.0,8461.0,23076.0,2688.0,48563.001
15,2015,13673.999,1470997.0,18727.0,223.0,0.001,1372570.0,830288.0,0.175,38837.0,192991.825,15917.0,20111.0,251018.0,8427.0,32091.0,3544.0,47742.998
16,2016,13465.999,1354034.0,18584.0,210.0,0.011,1418100.0,839918.0,102.667,34759.0,229368.333,15708.0,22443.0,269670.0,8524.0,46633.0,3701.0,46816.999
17,2017,13723.002,1321419.0,18726.0,217.0,0.011,1337703.0,838861.0,102.667,32410.0,257146.333,15104.0,22752.0,302362.0,8183.0,67393.0,3587.0,46734.002
18,2018,13259.001,1272150.0,18773.0,351.0,0.011,1519217.0,841329.0,102.667,42930.0,275731.333,15133.0,21503.0,295501.0,8382.0,81244.0,3940.0,45892.999
19,2019,12659.000,1069528.0,18364.0,358.0,NaN,1639826.0,843330.0,102.667,35791.0,298097.333,15482.0,20772.0,289799.0,7143.0,93943.0,3535.0,43033.999
20,2020,12217.999,855770.0,18831.0,298.0,NaN,1680143.0,823150.0,144.715,37411.0,341673.285,15110.0,21073.0,287140.0,7137.0,115902.0,3427.0,40616.002
21,2021,11337.000,991561.0,19077.0,309.0,NaN,1634089.0,811551.0,144.715,36126.0,382669.285,14459.0,20618.0,253478.0,7145.0,148153.0,3170.0,40791.002
22,2022,10257.000,913302.0,19142.0,299.0,NaN,1740421.0,803669.0,144.715,42513.0,439125.285,13767.0,22466.0,256602.0,6783.0,183812.0,3259.0,39807.000

In [20]:
import statsmodels.api as sm

df_pivot["Total"] = df_pivot.sum(axis=1, numeric_only=True)

df_pivot["Solar_Wind"] = df_pivot["Solar photovoltaic"] * df_pivot["Onshore wind energy"]
df_pivot["Solar2"] = df_pivot["Solar photovoltaic"] ** 2
df_pivot["Wind2"] = df_pivot["Onshore wind energy"] ** 2

X = df_pivot[["Solar photovoltaic", "Onshore wind energy", "Solar_Wind", "Solar2", "Wind2"]]
y = df_pivot["Total"]

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())
print(model.params)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Total   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.483e+12
Date:                Mon, 30 Jun 2025   Prob (F-statistic):           2.64e-98
Time:                        16:15:25   Log-Likelihood:                -317.94
No. Observations:                  23   AIC:                             647.9
Df Residuals:                      17   BIC:                             654.7
Df Model:                           5
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                 1.21e+07   1.52e+05     79.799      0.000    1.18e+07    1.24e+07
Solar photovoltaic     13.3319     48.204      0.277      0.785     -88.370     115.034
Onshore wind energy    21.1594      6.629      3.192      0.005       7.174      35.145
Solar_Wind              2.0001      0.000   5721.762      0.000       1.999       2.001
Solar2                  2.0001      0.000   4126.542      0.000       1.999       2.001
Wind2                   1.9999   4.56e-05   4.39e+04      0.000       2.000       2.000
==============================================================================
Omnibus:                        3.818   Durbin-Watson:                   1.505
Prob(Omnibus):                  0.148   Jarque-Bera (JB):                2.081
Skew:                          -0.661   Prob(JB):                        0.353
Kurtosis:                       3.652   Cond. No.                     1.78e+11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.78e+11. This might indicate that there are
strong multicollinearity or other numerical problems.
const                  1.209624e+07
Solar photovoltaic     1.333193e+01
Onshore wind energy    2.115937e+01
Solar_Wind             2.000095e+00
Solar2                 2.000119e+00
Wind2                  1.999885e+00
dtype: float64

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif_data)

               feature           VIF
0                const      6.568369
1   Solar photovoltaic   1824.749843
2  Onshore wind energy    216.363406
3           Solar_Wind  14992.719724
4               Solar2   4596.234298
5                Wind2   1611.304867